# FICHIER CONFIG DE MARIADB A PARAMETRER
[server]

[mysqld]

#
# * Basic Settings
#

user                    = mysql
pid-file                = /run/mysqld/mysqld.pid
basedir                 = /usr
datadir                 = /var/lib/mysql
socket                  = /run/mysqld/mysqld.sock
tmpdir                  = /tmp
lc-messages-dir         = /usr/share/mysql
lc-messages             = en_US
port                    = 3306
log_error               = /var/log/mysql/error.log

# bind-address            = 0.0.0.0

#
# * Character sets
#

query_cache_size        = 16M
expire_logs_days        = 10
character-set-server    = utf8mb4
collation-server        = utf8mb4_general_ci

[mariadb]

[mariadb-10.5]
